<h1> you found clown porn</h1>

<form class="" action="/clownPorn" method="post">
  <input type="text" name="username" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="name" value="">
</form>


<a href="/delete/:id">DELETE</a>


{{#each wooptydoo}}


<h1>hey {{user}}</h1>
<p>{{title}}</p>
<a href="/delete/9">DELETE</a>

{{/each}}
